:root{
    --font-color:#d8d7eb;
    --bg-color:#0a0a0a;
    --shadow-color:#878787;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
}

nav {
    height: 15vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: inset 0 0 10px 1px var(--shadow-color);
}


.noneDis{
    transform: scale(0);
    display: none;
}

.popHu {
    height: 90px;
    width: 100px;
    position: fixed;
    left: 91%;
    top: 10px;
    border-radius: 10px;
    right: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: black;
    align-items: center;
    border: 2px solid white;
    transition: .3s ease;
}

.popHu img{
    cursor: pointer;
}

.popHu input{
    width: 90%;
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
    outline: none;
    color: white;
    border: 1px solid white;
}

.headText{
    height: 100%;
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.headText img{
    height: 9vh;
}

.translatorText{
    height: 100%;
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.pop{
    height: 100%;
    width: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:4vh;
    border-radius: 10px;
    padding: 20px;
}

section{
    height: 50vh;
    width: 60%;
    padding: 40px;
    display: flex;
    background-color: rgb(35, 35, 35);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 1px var(--shadow-color);
}

.leftBox{
    height: 100%;
    width: 50%;
    border-right: 1px solid grey;
}
.rightBox{
    height: 100%;
    width: 50%;
    border-left: 1px solid grey;
}

.leftText , .rytText{
    height: 87%;
    width: 97.05%;
}

.textFrom , .textTo{
    height: 91%;
    resize: none;
    color: white;
    padding: 10px;
    width: inherit;
    outline: none;
    font-size: 1.75;
    background-color: #343232;
}
.textFrom{
    border-bottom-left-radius: 10px;
}
.textTo{
    border-bottom-right-radius: 10px;
}

.buttons{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    background-color: #343232;
    height: 12%;
}

.rytbtns{
    border-top-right-radius: 5px;
    border-left: none;
}
.lftbtns{
    border-top-left-radius: 5px;
    border-right: none;
}

.copy, .sel,.switch, .speech{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.switch{
    position: relative;
    z-index: 10;
    margin: 0 10px 0 10px;
}

select {
    border-radius: 7px;
    padding: 10px;
    background: #4d4d4d;
    border: none;
    outline: none;
    cursor: pointer;
    color: whitesmoke;
}

.copy:hover, .sel:hover,.switch:hover, .speech:hover{
    background-color: #5b5a5a;
    border-radius: 7px;
}

.translate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.trnBtn{
    background-color:  black;
    border: 1px solid white;
    outline: none;
    padding: 10px;
    width: 35vw;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.trnBtn:hover{
    background-color: #302f2f;
}